<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body style="margin: 40px;">
      <a href="/register">register</a>
      <br>
      <br>
    <form action="/api/login" method="post">
        <label for="email">email</label>
        <input type="text" name="email" id="email" value="fahmi@gmail.com"/>
        <br>
        <br>
        <label for="password">password</label>
        <input type="text" name="password" id="password" value="12345"/>
        <br>
        <br>
        <button>login</button>
    </form>
  </body>
</html>
